<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode"
         value="None"></add>
  </appSettings>
    <connectionStrings>

      <clear/>
        <add name="LocalSqlServer"
             connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=E:\DotNetPrograms\WebSecureDemoWebsite\App_Data\aspnetdb.mdf;Integrated Security=True"
             providerName="System.Data.SqlClient"/>
      
        <add name="ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Ecommerce.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <roleManager enabled="true" />
      <authorization>
        <allow roles="Trainers" />
        <deny users="?" />
        <deny roles="Students" />
      </authorization>
      <authentication mode="Forms" />



      <profile>
        <properties>
          <add name="Favorites" type="FavoriteTitle"
               allowAnonymous="false"
               defaultValue="[null]"/>
        </properties>
      </profile>

      <anonymousIdentification enabled="true"/>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
